<p>signup works!!</p>


<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Registration</mat-toolbar>
        <form [formGroup]="signup"(ngSubmit)="signupdata(signup.value)" fxLayoutAlign="strech" fxLayout="column" class="login-form">
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput placeholder="first Name" formControlName="fname">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Last Name" formControlName="lname">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="Email">
              </mat-form-field>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput type="Password" placeholder="password" formControlName="password">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Mobile</mat-label>
              <input matInput placeholder="Mobile" formControlName="mobile">
            </mat-form-field>
            <span>Already Have a Account <a routerLink="/">Login Page</a></span><br/>
            <button mat-raised-button type="submit">Signup</button>
          </form>
    </mat-card>
</div>






